body{
    font-family: 'Courier Prime', monospace;
    background-color:black;
    color:#7CFC00;
    margin-left:40px;
}
#search {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-family: 'Courier Prime', monospace;
  display: inline-block;
  font-size: 14px;
}

.error{
    color:red;
}